doctype html
html(lang='en')
  head
    title e-card Selbstanmeldungstool
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(href='http://netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-glyphicons.css', rel='stylesheet')
    link(rel='stylesheet', href='/public/resources/styles/font-awesome-4.7.0/css/font-awesome.min.css')
    link(href='/public/resources/styles/sidebar-links.css', rel='stylesheet')
    link(href='/public/resources/styles/sortablestyle.css', rel='stylesheet')
    link(href='/public/resources/styles/sidebar-rechts.css', rel='stylesheet')
    link(href='/public/resources/styles/patcontainer.css', rel='stylesheet')
  body(onload='startTime()')
    nav.navbar.navbar-dark.bg-dark
      a.navbar-item.dropdown
        // <img src="./img/user.png" style="float:left;">
        font(color='white')
          // Template: username h3= user
          b
            h3= user
      a.active
        font(color='white')
          b
            h3
              p#clock
    #wrappersr
      #sidebar-wrappersr
        ul#columns
          ol#patcontainer.sidebar-navr.example
            for patient in arztansicht
              li
                span(id=patient.svnr onclick="requestPatientData(this)") #{patient.grund} - #{patient.name}

    #wrappers
      #sidebar-wrappers
        ul.sidebar-nav
          li.sidebar-brand
            a(style='font-size: 16px; color: #199bd8;', data-toggle='tooltip', title='Patienten aufrufen', href='#')
              span.fa.fa-arrow-left(style='content:', aria-hidden='true')
          li.sidebar-brand
            a(href='#', data-toggle='tooltip', title='Patienten entlassen')
              span.fa.fa-check(style='color: #1ad85f', aria-hidden='true')
          li.sidebar-brand
            a(data-toggle='tooltip', title='Ausloggen', href='/role/logout')
              // style="color: #dd2a1a; font-size: 50px"
              span.fa.fa-power-off(style='color: #d32317', aria-hidden='true')
      #page-content-wrappers
        .container-fluid
          h1
            small#name
          h2
            small#svnr
          h2
            small#grund
          //
            <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
    script(src='/public/resources/scripts/jquery-sortable.js')
    script(type='text/javascript', src='/public/resources/scripts/time.js')
    script.
      $(document).ready(function() {
      $(function () {
      $("ol.example").sortable();
      });
      });
      function requestPatientData(dom) {
      $.ajax({
      url: '/role/arzt/patientendata',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json",
      data: JSON.stringify({ "patient": { "svnr": dom.getAttribute('id') } }),
      async: true,
      success: function(patient) {
      $("#name").html(patient.name);
      $("#svnr").html(patient.svnr);
      $("#grund").html(patient.grund);
      }
      });
      }
